<section>
  <div class="row" style="width:90%;margin:auto">
  <div class="col-md-6"><h3>Session Management System <span style="color:gray;font-size:24px;">it's Easy</span></h3> </div>
  </div>  <hr>
  <div class="form shadow">
      <center>
        <h1>
          Admin Login
        </h1>
    </center>

    <form class="shadow">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" ng-model = "loginData.email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" ng-model = "loginData.password">
      </div>
      <!-- <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div> -->
      <button ng-click = "login(loginData)" class="btn btn-default">Login</button>
      <hr>
      <button  class="btn btn-secondary" ng-click = "next('reset')">Reset password</button>

      </form>
  </div>
</section>
