<section>
  <script src='https://www.google.com/recaptcha/api.js'></script>

          <div class="row" style="width:90%;margin:auto">
          <div class="col-md-6"><h3>Session Management System <span style="color:gray;font-size:24px;">it's Easy</span></h3> </div>
          </div>
  <hr>
  <div class="form shadow">
    <h2><center>Signup</center></h2>
    <form class="shadow">
      <div class="form-group">
        <label for="name">Username:</label>
        <input type="name" class="form-control" id="name" ng-model = "user.username">
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="phone" class="form-control" id="phone" ng-model = "user.phone">
      </div>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" ng-model = "user.email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" ng-model = "user.password">
      </div>

      <div class="g-recaptcha" data-sitekey="6LeuVzQUAAAAAPcrJo3t2rbuTpbzoZq9nSaP6mqA" ng-model = "user.captcha"></div>
      <br>
      <button type="submit" class="btn btn-default" ng-click = "createUser(user)">Sign up</button>
      <button  class="btn btn-primary" ng-click = "next('login')">Alreadty Member ? Login Here</button>
    </form>
  </div>
</section>
